<div class="d-flex justify-content-center align-items-start min-vh-100 p-4">
  <div class="w-100" style="max-width: 480px;">

    <%= link_to profile_user_services_path(current_profile), class: "text-decoration-none text-secondary link-dark" do %>
      <i class="fa-solid fa-arrow-left me-1"></i> Back
    <% end %>

    <!-- Greeting -->
    <div class="d-flex align-items-center my-4 gap-3">
      <% icon_class = current_profile.icon.nil? ? @icons[rand(1..9)] : @icons[current_profile.icon] %>
      <%= link_to profile_user_services_path(current_profile), class: "btn btn-secondary rounded-circle d-inline-flex justify-content-center align-items-center text-decoration-none", style: "width: 60px; height: 60px;" do %>
        <i class="<%= icon_class %> fa-2x"></i>
      <% end %>
      <%= link_to profile_user_services_path(current_profile), class: "text-decoration-none text-dark" do %>
        <h3 class="fw-semibold mb-0">Hello <%= current_profile.user_name %>!</h3>
      <% end %>
    </div>

    <p>Here are all your profiles:</p>

    <!-- Add new profile button -->
    <div class="d-grid mb-4">
      <%= link_to new_profile_path, class: "btn btn-outline-primary btn-lg py-3 rounded-5" do %>
        <i class="fas fa-user-plus"></i> Add a new Profile
      <% end %>
    </div>

    <!-- List of profiles -->
    <div class="d-grid gap-3">
      <% @user_profiles.each do |user_profile| %>
        <%= link_to profile_user_services_path(user_profile), class: "text-decoration-none" do %>
          <div class="d-flex align-items-center mb-1 p-4 rounded-5 shadow bg-white">
            <% icon_class = user_profile.icon.nil? ? @icons[rand(1..9)] : @icons[user_profile.icon] %>

            <span class="btn btn-primary rounded-circle d-inline-flex justify-content-center align-items-center me-3" style="width: 50px; height: 50px;">
              <i class="<%= icon_class %> fs-4"></i>
            </span>

            <div>
              <h6 class="fw-semibold mb-1"><%= user_profile.user_name %> <%= "(current)" if user_profile == current_profile %></h6>
              <p class="mb-0 small text-secondary">Birthday: <%= user_profile.birthday.strftime("%B %d, %Y") if user_profile.birthday %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>


  </div>
</div>
