<div class="d-flex justify-content-center align-items-start min-vh-100 pt-5">
  <div class="w-100" style="max-width: 480px;">

    <%= link_to "⬅ Back", profile_user_services_path(@profile), class: "text-decoration-none text-secondary link-dark" %>

    <div class="d-flex align-items-center my-4 gap-3">
      <% icon_class = @profile.icon.nil? ? @icons[rand(1..9)] : @icons[@profile.icon] %>
      <span class="btn btn-primary rounded-circle d-inline-flex justify-content-center align-items-center" style="width: 60px; height: 60px;">
        <i class="<%= icon_class %> fa-2x"></i>
      </span>
      <h3 class="fw-semibold mb-0 text-primary">Hello <%= @profile.user_name %>!</h3>
    </div>

    <p>What would you like to do?</p>

    <div class="d-grid gap-3">
      <%= link_to new_profile_path, class: "btn btn-outline-secondary py-3 rounded-5 shadow" do %>
        <i class="fas fa-user-plus"></i> Add a new Profile
      <% end %>

      <%= link_to profiles_path, class: "btn btn-outline-secondary py-3 rounded-5 shadow" do %>
        <i class="fas fa-people-arrows"></i> Change Profile
      <% end %>

      <%= link_to profiles_path, class: "btn btn-outline-secondary py-3 rounded-5 shadow" do %>
        <i class="fas fa-user-edit"></i> Edit current Profile
      <% end %>

      <%= link_to edit_profile_path(@profile), class: "btn btn-outline-secondary py-3 rounded-5 shadow" do %>
        <i class="fa-solid fa-passport"></i> Upload your Certificate of Vaccination
      <% end %>
    </div>

  </div>
</div>
