<h1>UserServices Index Page</h1>

<div class="container">
  <%# this is the header of the page (containing avatar, greating, settings button and search bar) %>
  <div class="header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="user-info d-flex align-items-center">
        <div class="bg-secondary rounded-circle d-flex align-items-center justify-content-center pt-2" style="width: 60px; height: 60px;">
          <h3><i class="fa-solid fa-user"></i></h3>
          <%# <img src="" alt="User Avatar" /> src = current_user.avatar_url %>
        </div>
        <div class="d-flex px-3 lh-1 pt-2 align-items-start flex-column">
          <p>Hi, welcome back</p>
          <p>Name <%=  %></p> <%# current_user.name %>
        </div>
      </div>
      <div class="settings">
        <a href="">Settings</a> <%# href = /settings or something %>
      </div>
    </div>

    <%# search bar %>
    <div class="search-bar">
      <form action="" method="get"> <%# action = /search or something %>
        <input type="text" name="query" placeholder="Search services..." />
        <button type="submit">Search</button>
      </form>
    </div>
  </div>


  <%# this is where the done services are displayed %>
  <div class="container">
    <% @user_services.where(status: "done").each do |done_user_service| %> <%# change status to the done value %>
      <%= link_to profile_user_service_path(@profile, done_user_service) do %>
        <div class="d-flex align-items-center my-3 p-3 border rounded shadow-sm hover-effect bg-success text-white">
          <div>
            <h2><%= done_user_service.service.name %></h2>
            <p><%= done_user_service.completed_at %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>


  <%# this is where the undone services are displayed %>
  <div class="container">
    <% @user_services.where(status: "pending").each do |user_service| %> <%# change status to the undone value %>
      <%= link_to profile_user_service_path(@profile, user_service) do %>
        <div class="d-flex align-items-center my-3 p-3 border rounded shadow-sm hover-effect bg-light">
          <div>
            <h2><%= user_service.service.name %></h2>
            <p><%= user_service.service.description %></p> <%# keep this or is it too much info? %>
            <p><%= user_service.due_date %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
