<div class="container py-4">

  <!-- HEADER -->
  <div class="mb-4">
    <div class="d-flex justify-content-between align-items-center">

      <!-- User Info -->
      <div class="d-flex align-items-center">
        <div class="bg-secondary text-white rounded-circle d-flex align-items-center justify-content-center me-3" style="width: 60px; height: 60px;">
          <i class="fa-solid fa-user fs-3"></i>
        </div>

        <%# <div class="lh-sm">
          <p class="mb-0 text-secondary small">Hi, welcome back</p>
          <p class="fw-semibold mb-0"><%= current_user.name if current_user %></p>
        <%# </div> %>
      </div>

      <!-- Settings -->
      <%= link_to "Settings", "#", class: "btn btn-outline-secondary btn-sm" %>

    </div>

    <!-- SEARCH BAR -->
      <form action="" method="get" class="mt-3 mb-4">
        <div class="input-group rounded-pill shadow-sm bg-light px-3 py-2">
          <span class="input-group-text bg-light border-0 p-0 me-2">
            <i class="bi bi-search text-muted"></i>
          </span>
          <input
            type="text"
            name="query"
            class="form-control border-0 bg-light"
            placeholder="Search checkups..."
            value="<%= params[:query] %>"
          >
        </div>
      </form>

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Your checkups</h2>

    <%= link_to "💬 Prioritise by risk",
            new_profile_risk_assessor_path(@profile),
            class: "btn btn-outline-primary" %>

  </div>

  <!-- DONE SERVICES -->
  <%# <h5 class="text-uppercase text-muted mt-4 mb-2">Completed</h5>
  <% @user_services.where(status: "done").each do |done_user_service| %>
    <%# <%= link_to profile_user_service_path(@profile, done_user_service), class: "text-decoration-none" do %>
      <%# <div class="d-flex align-items-center mb-3 p-3 rounded shadow-sm bg-success text-white"> %>
        <%# <div> %>
          <%# <h6 class="fw-bold mb-1"><%= done_user_service.service.name %></h6>
          <%# <p class="mb-0 small"><%= done_user_service.completed_at %></p>
        <%# </div>
      </div>
    <% end %>
  <%# <% end %>



  <!-- PENDING SERVICES -->
  <h4 class="text-muted mt-4 mb-3">Next checkups</h4>

  <% @profile.user_services.where(status: "pending").each do |user_service| %>
    <%= link_to profile_user_service_path(@profile, user_service), class: "text-decoration-none" do %>
      <div class="d-flex align-items-center mb-4 p-4 pb-5 rounded-4 shadow bg-white">
        <div>
          <h6 class="fw-semibold mb-1"><%= user_service.service.name %></h6>
          <p class="mb-0 small text-secondary">
            <%= user_service.due_date.strftime("%-d. %B %Y") %>
            (<%= distance_of_time_in_words(Date.today, user_service.due_date) %>)
          </p>
        </div>
      </div>
    <% end %>
  <% end %>


</div>
